#project-info {
  padding: 20px;
  min-height: 75vh;
  width: auto;
}

#setNewBaseImage,
#setCompareBaseToNew {
  padding-left: 20px;
  float: left;
}

#newBaseInput,
#CompareBaseInput {
  width: 250px;
}

#newBaseInputBtn {
  background-color: #15aabf;
  border: none;
  border-radius: 4px !important;
  height: 28px;
  color: white;
}

#project-base-image {
  padding: 20px;
  width: 350px;
  float: left;
}
