ul {
  padding: 0;
  list-style: none;
  width: auto;
  margin: auto;
}

li {
  font-size: 1rem;
  line-height: 2rem;
  border-bottom: 1px dashed #777;
}
li a {
  color: #777;
}

input {
  margin-right: 5px !important;
  border-radius: 4px !important;
  border: 1px #777 solid;
  padding-left: 4px;
}

button {
  background-color: #00d8ff;
  border: none;
  border-radius: 4px !important;
  height: 28px;
  color: white;
}
